.bicis {
    margin: 5px; 
    
    hr {
    
    color: white;
    }
    h2{
      margin: 1px;
      border: 1px solid white ;
      border-radius: 10px;
      margin: auto;
      width: 300px;  
      background-color: rgb(255, 255, 255);
      position: relative;
      
      &::after, &::before {
        content: '';
        position: absolute;
        width: 70px;
        height: 2px;
        background-color: white;
        top: 45%;
      }
      &::after {
        left: -70px;
      }
      &::before {
        right: -70px;
      }
   
    }

    article {
     margin-bottom: 5px;
    }
    

}

.usuario {
    color: white;
    text-align: center;

        li{ 
            list-style: none;
            display: inline-block;
            margin:10px;
        }
    }

.demo2 {
color: white;
text-align: center;}

.somos {
    padding: 10px;
    background-color: white;
    color: black;
    margin: auto;
    border-radius: 10px;
    font-size: 1.2rem;
    margin-bottom: 20px;
    text-align: justify;
    max-width: 700px;


}


.total {
    margin: 20px auto;
    text-align: center;
    width: 400px;
    color: white;
    border: 1px solid white;
    border-radius: 10px;
    box-shadow: 0px 2px rgba(255, 255, 255, 0.774);
    background-color: #3b5998;
     p {
        text-align: left;
        font-size: 1rem;
    }
}