.bicis {
    margin: 10px; 

}

.usuario {
    color: white;
    text-align: center;

        li{ 
            list-style: none;
            display: inline-block;
            margin:10px;
        }
    }

.demo2 {
color: white;
text-align: center;}